.project_container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_container>span {
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text {
    margin-left: 6px;
    font-size: 2rem;
    color: var(--orange);
}

.project_container .swiper {
    overflow: visible !important;
}

.project_container-slider {
    margin-top: 3rem;
    width: 100%;
}

.project_container-slider .swiper-slide {
    width: 20rem;
}

.project_container img {
    width: 18rem;
    height: 10rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.project_details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: -20px;
}

.Project_heading {
    font-weight: bold;
    color: var(--orange);
}

.project_card :hover {
    transition: ease-in(.5s);
    transform: scale(1.1);
    margin-bottom: 1rem;
    box-shadow: var(--boxShadow);
}